<div class="@(Model.IsNested && Model.Time != null?"nested-timeline-card-container":"timeline-card-container")">
    <div class="@(Model.IsNested?"nested":"timeline-item") @Model.CssClass">
        <div class="timeline-content">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <div class="timeline-title">@((MarkupString)Model.Title)</div>
            }
            @if (Model.Time != null && !Model.IsNested)
            {
                <div class="timeline-time">@((MarkupString)Model.Time)</div>
            }
            <div class="timeline-body">
                @((MarkupString)(Model.Content))

                @if (Model.IsGroupContainer && Model.GroupItems != null && Model.GroupItems.Any())
                {
                    <div class="timeline-group-container">
                        <div class="timeline-group-item">
                            <div class="timeline-group-content">
                                <div class="timeline-body">
                                    @((MarkupString)Model.GroupItems)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public required TimelineCard.ViewModel Model { get; set; }
}
